{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "創建風險互助群組" %} {% endblock title %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <section style="padding-top:48px;">
        <div class="card mx-auto mt-5 shadow w-35" style="width: 18rem; border: transparent;">
            <div class="card-body">
                <h3 class="card-title text-center mt-3" style="color:#982e04;"><strong>{% trans "創建風險互助群組" %}</strong>
                </h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mt-5 ms-3 me-3 mb-4">
                        <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "參與費用" %}</strong></h5>
                        <input type="number" class="form-control" id="joinFee" name="joinFee"
                            placeholder="{% trans '請輸入參與費用' %}">
                    </div>
                    <div class="ms-3 me-3 mb-4">
                        <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "群募起始條件" %}</strong></h5>
                        <input type="number" class="form-control" id="launchAmount" name="launchAmount"
                            placeholder="{% trans '請輸入起始金額' %}">
                    </div>
                    <div class="ms-3 me-3 mb-4">
                        <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "群募終止條件" %}</strong></h5>

                        <div class="input-group">
                            <input type="number" class="form-control" id="terminateNums" name="terminateNums"
                                placeholder="{% trans '終止人數' %}">
                            <span class="input-group-text">{% trans '人' %}</span>
                        </div>
                    </div>
                    <div class="ms-3 me-3 mb-4">
                        <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "群募期限" %}</strong></h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="deadline" id="deadline1" value="無期限">
                            <label class="form-check-label" for="deadline1">{% trans "無限期" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="deadline" id="deadline2" value="有期限">
                            <label class="form-check-label" for="deadline1">{% trans "有限期" %}</label>
                        </div>
                        <div id="deadline3">
                        </div>
                    </div>
                    <div class="ms-3 me-3 mb-4">
                        <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "給付內容" %}</strong></h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentContentOption"
                                id="paymentContent1" value="一般">
                            <label class="form-check-label" for="paymentContent1">{% trans "一般" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentContentOption"
                                id="paymentContent2" value="超額">
                            <label class="form-check-label" for="paymentContent2">{% trans "超額" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentContentOption"
                                id="paymentContent3" value="自付額">
                            <label class="form-check-label" for="paymentContent3">{% trans "自付額" %}</label>
                        </div>
                    </div>
                    <button class="mt-4 btn btn-success w-100" type="submit">{% trans "創建計畫" %}</button>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block script %}

<script src="{% static 'js/websiteFunctions/deadlineDate.js' %}"></script>

{% endblock script %}