{% extends 'base.html' %}
{% load i18n %}
{% block title %} 開始風險供給計畫 {% endblock title %}
{% block content %}
<section style="padding-top:48px;">
    <div class="card mx-auto mt-5 shadow-sm w-35" style="width: 18rem; border: transparent;">
        <div class="card-body">
            <h3 class="card-title text-center mt-3" style="color:#982e04;"><strong>開始風險供給</strong></h3>
            <div class="ms-3 me-3">
                <h5 class="card-text mt-5 mb-3" style="color:#982e04;"><strong>STEP.1 實名認證</strong></h5>
                <button class="btn btn-secondary w-100 disabled">已完成</button>
                <a class="mt-1 btn btn-success w-100" href={% url 'riskPool' %}>下一步</a>
            </div>
            <div class="ms-3 me-3">
                <h5 class="card-text mt-3 mb-1" style="color:#cd9b85;"><strong>STEP.2 選擇風險池</strong></h5>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}