{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} 登入 {% endblock title %}

{% block content %}
<style>
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(60, 59, 59, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
</style>
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
    <section style="padding-top:48px;">
        <div class="container mt-5">
            <div class="card mx-auto shadow p-3" style="width: 40%; border:transparent;">
                <div class="card-body row text-center">
                    <div  class="mb-3">
                        <h2 style="color:#982e04;"><strong>{% trans "登入" %}</strong></h2>
                    </div>
                    <hr / class="mx-auto" style="width: 60%;">
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <div class="container mb-3" style="text-align: start;">
                            <div class="mt-3 me-3 mb-4">
                                <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "帳號" %}</strong>
                                </h5>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="{% trans '請輸入帳號' %}" required>
                            </div>
                            <div class="me-3 mb-4">
                                <h5 class="form-label mb-2" style="color:#982e04;"><strong>{% trans "密碼" %}</strong>
                                </h5>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="{% trans '請輸入密碼' %}" required>
                            </div>
                        </div>
                        <div class="mt-5">
                            {% if hasError %}
                            <h6 class="mb-3" style="color:red;"><strong>帳號或密碼有誤，請重新輸入</strong></h6>
                            {% endif %}
                            <input id="submitButton" class="btn btn-lg btn-success"
                                style="width:70%; " type="submit" value="登入" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

{% endblock content %}
{% block script %}
{% endblock script %}