{% extends 'base.html' %}
{% block title %} 創建風險分擔團體 {% endblock title %}
{% block content %}
<section style="padding-top:48px;">
    <div class="card mx-auto mt-5 shadow-sm w-35" style="width: 18rem; border: transparent;">
        <div class="card-body">
            <h3 class="card-title text-center mt-3" style="color:#982e04;"><strong>創建風險分擔群組</strong></h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mt-5 ms-3 me-3 mb-4">
                    <h5 class="form-label mb-2" style="color:#982e04;"><strong>參與費用</strong></h5>
                    <input type="number" class="form-control" id="joinFee" name="joinFee" placeholder="請輸入參與費用">
                </div>
                <div class="ms-3 me-3 mb-4">
                    <h5 class="form-label mb-2" style="color:#982e04;"><strong>群募起始條件</strong></h5>
                    <input type="number" class="form-control" id="launchAmount" name="launchAmount" placeholder="請輸入起始金額">
                </div>
                <div class="ms-3 me-3 mb-4">
                    <h5 class="form-label mb-2" style="color:#982e04;"><strong>群募終止條件</strong></h5>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-control" id="terminateNums" name="terminateNums" placeholder="請輸入終止人數">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="terminateAmount" name="terminateAmount" placeholder="請輸入終止金額">
                        </div>
                    </div>
                </div>
                <div class="ms-3 me-3 mb-4">
                    <h5 class="form-label mb-2" style="color:#982e04;"><strong>群募終止時間</strong></h5>
                    <input type="date" class="form-control" id="deadline" name="deadline">
                </div>
                <div class="ms-3 me-3 mb-4">
                    <h5 class="form-label mb-2" style="color:#982e04;"><strong>給付內容</strong></h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="paymentContentOption" id="paymentContent1"
                            value="一般">
                        <label class="form-check-label" for="paymentContent1">一般</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="paymentContentOption" id="paymentContent2"
                            value="超額">
                        <label class="form-check-label" for="paymentContent2">超額</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="paymentContentOption" id="paymentContent3"
                            value="自付額">
                        <label class="form-check-label" for="paymentContent3">自付額</label>
                    </div>
                </div>
                <button class="mt-4 btn btn-success w-100" type="submit">創建計畫</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}