{% extends 'base.html' %}
{% load i18n %}
{% block title %} 我的資產 {% endblock title %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <section style="padding-top:48px;">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-3 mb-3 mt-3">
                    <h4><strong>{% trans "我的資產" %}</strong></h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 text-center"><small class="text-muted">{% trans "計畫名稱" %}</small></div>
                <div class="col-1 text-center"><small class="text-muted">{% trans "合約地址" %}</small></div>
                <div class="col-1 text-center"><small class="text-muted">{% trans "持有數量" %}</small></div>
                <div class="col-1 text-center"><small class="text-muted">{% trans "下期數量" %}</small></div>
                <div class="col-2 text-center"><small class="text-muted">{% trans "預期分攤金" %}</small></div>
                <div class="col-5 text-center"><small class="text-muted">{% trans "動作" %}</small></div>
            </div>
        </div>
        <hr / class="mx-auto" style="width:100%; border: 1px solid;">
        {% for club in participating %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 text-center my-auto">
                    <a href="{% url 'clubDetail' address=club.plan.contract_address %}" style="text-decoration:none; color: #000;"><b>{{ club.plan.name }}</b></a>
                </div>
                <div class="col-1 my-auto p-0"
                    style="text-align: left; font-weight: bolder; text-overflow: ellipsis; overflow: hidden;">
                    <a href="https://ropsten.etherscan.io/address/{{ club.plan.contract_address }}" style="text-decoration:none; color: #000;">{{ club.plan.contract_address }}</a>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: center;">
                    <b>{{ club.tokens }}</b>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: center;">
                    <b>{{ club.nextPeriodAmount }}</b>
                </div>
                <div class="col-2 my-auto p-0" style="text-align: center;">
                    <b>{{ club.needToPay }}</b>
                </div>
                <div class="col-5 my-auto row">
                    <div class="col-8" style="text-align:end;">
                        <a href="{% url 'serviceNotAvailable' %}" class="btn btn-outline-TT my-auto">{% trans "移轉" %}</a>
                        <a href="{% url 'decrease' address=club.plan.contract_address %}" class="btn btn-outline-TT my-auto">{% trans "減額" %}</a>
                        <a href="{% url 'quitClub' address=club.plan.contract_address %}" class="btn btn-outline-TT my-auto">{% trans "退出" %}</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'applyForClaim' address=club.plan.contract_address %}" class="btn btn-outline-TT my-auto">{% trans "申請給付" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr / class="mx-auto" style="width:95%">
        {% endfor %}
        {% for action in joinActions %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 text-center my-auto">
                    <a href="{% url 'clubDetail' address=action.target %}" style="text-decoration:none; color: #666666;"><b>{{ action.target.name }}</b></a>
                </div>
                <div class="col-1 my-auto p-0"
                    style="text-align: left; font-weight: bolder; text-overflow: ellipsis; overflow: hidden;">
                    <a href="https://ropsten.etherscan.io/address/{{ action.target }}" style="text-decoration:none; color: #666666;">{{ action.target }}</a>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: center;">
                    <b style="color: #666666;">-</b>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: center;">
                    <b style="color: #666666;">{{ action.amount }}</b>
                </div>
                <div class="col-2 my-auto p-0" style="text-align: center;">
                    <b style="color: #666666;">-</b>
                </div>
                <div class="col-5 my-auto row">
                    <div class="col-12 text-center">
                        <a class="btn btn-secondary my-auto disabled" style="width: 100%;">{% trans "審核中" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr / class="mx-auto" style="width:95%">
        {% endfor %}
        {% for action in quitActions %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 text-center my-auto">
                    <a href="{% url 'clubDetail' address=action.target %}" style="text-decoration:none; color: #666666;"><b>{{ action.target.name }}</b></a>
                </div>
                <div class="col-1 my-auto p-0"
                    style="text-align: left; font-weight: bolder; text-overflow: ellipsis; overflow: hidden;">
                    <a href="https://ropsten.etherscan.io/address/{{ action.target }}" style="text-decoration:none; color: #666666;">{{ action.target }}</a>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: center;">
                    <b style="color: #666666;">{{ action.amount }}</b>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: center;">
                    <b style="color: #666666;">0</b>
                </div>
                <div class="col-2 my-auto p-0" style="text-align: center;">
                    <b style="color: #666666;">-</b>
                </div>
                <div class="col-5 my-auto row">
                    <div class="col-12 text-center">
                        <a class="btn btn-secondary my-auto disabled" style="width: 100%;">{% trans "已申請退出" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr / class="mx-auto" style="width:95%">
        {% endfor %}
        <div class="container-fluid" style="text-align: start;">
            <small style="color:#C34600"><strong>附註：申請退出及減額將於每月月底進行，當月分攤金仍需支付</strong></small>
        </div>
        <div class="row mt-5 container-fluid">
            <div class="col-5">
            </div>
            <div class="col-1 mb-2 my-auto" style="text-align:left ;">
                <h6><strong>{% trans "現金點數" %}</strong></h5>
            </div>
            <div class="col-2 mb-2 my-auto" style="text-align:right;">
                <h2><strong>{{ cashPoint }}</strong></h3>
            </div>
            <div class="col-4 mb-2 my-auto" style="text-align: center;">
                <a href="{% url 'buyCashPoint' %}" class="btn btn-outline-TT mb-2">{% trans "入金" %}</a>
                <a href="{% url 'cashOut' %}" class="btn btn-outline-TT mb-2">{% trans "出金" %}</a>
                <a href="{% url 'serviceNotAvailable' %}" class="btn btn-outline-TT mb-2">{% trans "移轉" %}</a>
                <a href="{% url 'serviceNotAvailable' %}" class="btn btn-outline-TT mb-2">{% trans "歷史紀錄" %}</a>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
                <hr>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block script %}
{% endblock script %}