<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}｜{% trans "風險管理專案" %}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    {% block css %}
    {% endblock %}
    <style>
    </style>
</head>

<body style="background-color:#fcf8f8;">
    {% include 'navbar.html' %}
    <div class="row">
        {% include 'sidebar.html' %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block content %}
            <!-- Template Content -->
            {% endblock content %}
        </main>
    </div>
</body>

{% block script %}
<!-- Template Script -->
{% endblock script %}