{% load i18n %}s
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color:#fff3eb">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item text-center mt-3 mb-3">
                <a class="btn btn-TT rounded-pill" href="{% url 'myPortfolio' %}" style="font-size: larger;">
                    我的資產
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="{% url 'verify' %}" style="color:#d33a00; font-size: larger;">
                    風險供給
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#" style="color:#d33a00; font-size: larger;">
                    資金供給
                </a>
            </li>
        </ul>
    </div>
</nav>