{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "參加風險分擔計畫" %} {% endblock title %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <section class="text-center" style="padding-top:48px;">
        <img src="{% static 'img/WorkOnIt.png' %}" style="width:50%;">
        <h2 class="card-title text-center mt-3" style="color:#982e04;"><strong>{% trans "服務建置中..." %}</strong></h2>
    </section>
</main>

{% endblock content %}

{% block script %}
{% endblock script %}