{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "加入群組" %} {% endblock title %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <section style="padding-top:48px;">
        <div class="card mx-auto mt-5 shadow w-35" style="width: 18rem; border: transparent;">
            <div class="card-body">
                <h3 class="card-title text-center mt-3" style="color:#982e04;"><strong>{{ plan.name }}</strong>
                </h3>
                <hr / class="mx-auto" style="width: 80%;">
                <div class="ms-3 me-3 mt-5 mb-3">
                    <h5 class="card-text mb-2" style="color:#982e04;"><strong>{% trans "申請成功" %}</strong>
                    </h5>
                    <span><strong>您已成功申請加入 {{plan.name}}</strong></span></br>
                    <small style="color: #666666;"><strong>註：加入程序將於每月的一號進行，並移轉對應的板機憑證至會員錢包。</strong></small>
                    <a href="{% url 'myPortfolio' %}" class="mt-4 btn btn-success w-100">{% trans "返回我的資產" %}</a>
                    <a href="{% url 'mutualClubList' %}" class="mt-1 btn btn-secondary w-100">{% trans "返回互助群列表" %}</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block script %}
{% endblock script %}