{% extends 'base.html' %}
{% load i18n %}
{% block title %} 加入風險互助群組 {% endblock title %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <section style="padding-top:48px;">
        <div class="container mt-5">
            <div class="row">
                <div class="col-3 mb-3">
                    <h4><strong>{% trans "現有風險互助群組" %}</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-left"><small class="text-muted">{% trans "計畫名稱" %}</small></div>
                <div class="col-3 text-center"><small class="text-muted">{% trans "合約地址" %}</small></div>
                <div class="col-2 text-center"><small class="text-muted">{% trans "憑證數量" %}</small></div>
                <div class="col-5 text-center"><small class="text-muted">{% trans "動作" %}</small></div>
            </div>
            <hr>
            {% for plan in planList %}
            <div class="row">
                <div class="col-2 text-left my-auto">
                    <b>{{ plan.name }}</b>
                </div>
                <div class="col-3 my-auto p-0" style="text-align: left; font-weight: bolder; text-overflow: ellipsis; overflow: hidden;">
                    <a href="https://ropsten.etherscan.io/address/{{ plan.contract_address }}">
                        {{ plan.contract_address }}
                    </a>
                </div>
                <div class="col-1 my-auto p-0" style="text-align: right;">
                    <b>{{ plan.supply }}</b>
                </div>
                <div class="col-1 my-auto" style="text-align: left;">
                    <small class="text-muted">{% trans "單位" %}</small>
                </div>
                <div class="col-5 text-center my-auto">
                    <a href="{% url 'clubDetail' address=plan.contract_address %}" class="btn btn-outline-TT mb-2">{% trans "群組資訊" %}</a>
                    <a href="{{ plan.join_verify_url }}" class="btn btn-outline-TT mb-2">{% trans "加入群組" %}</a>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div style="text-align: start;">
                <small style="color:#C34600"><strong>附註－參加者生效日期為次月1日</strong></small>
            </div>
            <div class="text-center mb-3 mt-3">
                <a href="{% url 'serviceNotAvailable' %}"class="btn btn-TT mb-2" style="width: 20%;">{% trans "創建新群組" %}</a>
            </div> 
        </div>
    </section>
</main>

{% endblock content %}

{% block script %}
{% endblock script %}